:host {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-left: -100px;

  .mat-select {
    padding-left: 20px;
    max-width: 140px;
  }

  .mat-select:first-child {
    padding-left: 0px;
  }

  button {
    margin-left: 20px;
  }

}

.calendar {
  width: 95%;
  padding: 20px;

  &__header_months {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin-bottom: 20px;

    div {
      flex: 0 0 13.5%;
      margin-left: 1px;

      span {
        text-transform: uppercase;
        background: lightgray;
        justify-content: center;
        display: flex;
        margin: 0 10px;
      }

    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    &__item {
      flex: 0 0 13.5%;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      height: 120px;


      .cell {
        margin: 10px;
        height: 100px;

        &_header {
          display: flex;
          justify-content: space-between;
        }

        &_content {
          background: lightgray;
          height: 80px;

          &-green {
            background: green;
          }
          &-yellow {
            background: yellow;
          }
          &-red {
            background: red;
          }

          &_price {
            text-align: center;
            font-family: Lato, sans-serif;
            font-size: 23px;
            color: white;

            &-white {
              color: white;
            }

            &-grey {
              color:grey;
            }
          }

          &_comp {
            text-align: center;
            color: #FFFFFF;
            font-family: Lato, sans-serif;
            font-size: 12px;
            margin-top: 30px;


            &-white {
              color: white;
            }

            &-grey {
              color:grey;
            }


          }

        }



      }

    }

    &__item:nth-child(7n + 1) {
      border-left: none;
    }

    &__item:nth-last-child(-n + 7) {
      border-bottom: none;
    }

  }




}
